<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.a2208.chat.dao.GroupMapper">
    <resultMap id="BaseResultMap" type="com.a2208.chat.entity.Group">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="owner_id" property="ownerId" />
        <result column="avatar" property="avatar" />
        <result column="notice" property="notice" />
        <result column="signature" property="signature" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
        id
        , name
        , create_time
        , owner_id
        , avatar
        , notice
        , signature
    </sql>

    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM chat_db.group
    </select>

    <!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
        SELECT
        <include refid="baseColumns" />
        FROM chat_db.group
        WHERE id = #{id}
    </select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.a2208.chat.entity.Group"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO chat_db.group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            create_time,
            owner_id,
            avatar,
            notice,
            signature,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{name},
            #{createTime},
            #{ownerId},
            #{avatar},
            #{notice},
            #{signature},
        </trim>
    </insert>


    <!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.a2208.chat.entity.Group">
        UPDATE chat_db.group
        <set>
            name=#{name},
            create_time=#{createTime},
            owner_id=#{ownerId},
            avatar=#{avatar},
            notice=#{notice},
            signature=#{signature},
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除记录 -->
    <delete id="delete" parameterType="com.a2208.chat.entity.Group">
        UPDATE chat_db.group
        SET is_deleted=1
        WHERE id = #{id}
    </delete>


</mapper>