<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.a2208.chat.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.a2208.chat.entity.Message">
        <result column="id" property="id" />
        <result column="from_user_id" property="fromUserId" />
        <result column="to_user_id" property="toUserId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="read_flag" property="readFlag" />
        <result column="img" property="img" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
        id
        , from_user_id
        , to_user_id
        , content
        , create_time
        , read_flag
        , img
    </sql>

    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM chat_db.message
    </select>

    <!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
        SELECT
        <include refid="baseColumns" />
        FROM chat_db.message
        WHERE id = #{id}
    </select>

    <!-- 根据发送用户与接收用户id获取记录 -->
    <select id="getByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM chat_db.message
        WHERE ((from_user_id = #{fromUserId} AND to_user_id = #{toUserId})
            OR (from_user_id = #{toUserId} AND to_user_id = #{fromUserId})
            )
        AND inStr(content, #{content})
    </select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.a2208.chat.entity.Message"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO chat_db.message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            from_user_id,
            to_user_id,
            content,
            read_flag,
            img,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{fromUserId},
            #{toUserId},
            #{content},
            #{readFlag},
            #{img},
        </trim>
    </insert>

    <!-- 更新已读 -->
    <update id="seen" parameterType="Long">
        UPDATE chat_db.message
        <set>
            read_flag = 1,
        </set>
        WHERE id = #{id}
    </update>

    <!-- 更新聊天内容 -->
    <update id="update" parameterType="com.a2208.chat.entity.Message">
        UPDATE chat_db.message
        <set>
            content=#{content},
            img=#{img},
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除记录 -->
    <delete id="delete" parameterType="Long">
        DELETE
        FROM chat_db.message
        WHERE id = #{id}
    </delete>


</mapper>